
body,html{  
	font-family: "Futura-CondensedExtraBold", sans-serif;
	height: 100%;
  margin: 0;
  color: #777;
  text-align: center;
  background-color: #2e3031;
}
#header{
	font-size: 40px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
}

p{
	margin: 30px 80px;
  font-family: 'Crimson Text', serif;
  color: #FFF;
  font-size: 20px;
}

.downButton{
	font-size:35px;
}

#footer{
	font-size: 30px;
	letter-spacing: 8px;
}

#greeting{
	font-size: 120px;
	color: #FFF;
}
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10, .bgimg-11,.bgimg-12 {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.bgimg-1 {
  background-image: url("images/cars.jpg");
  min-height: 105%;
}

.bgimg-2 {
  background-image: url("images/airBalloon.jpg");
  min-height: 105%;
}

.bgimg-3 {
  background-image: url("images/flowers.jpg");
  min-height: 105%;
}

.bgimg-4 {
  background-image: url("images/houses.jpg");
  min-height: 105%;
}

.bgimg-5 {
  background-image: url("images/roadTrip.jpg");
  min-height: 105%;
}

.bgimg-6 {
  background-image: url("images/yellowBikeRide.jpg");
  min-height: 105%;
}

.bgimg-7 {
  background-image: url("images/moonWires.jpg");
  min-height: 105%;
}
.bgimg-8 {
  background-image: url("images/laundryReflection.jpg");
  min-height: 105%;
}

.bgimg-9 {
  background-image: url("images/bikeShop.jpg");
  min-height: 105%;
}

.bgimg-10 {
  background-image: url("images/climbingDown.jpg");
  min-height: 105%;
}

.bgimg-11 {
  background-image: url("images/chairs.jpg");
  min-height: 105%;
}
.bgimg-12 {
  background-image: url("images/snowLeaf.jpg");
  min-height: 105%;
}
.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #FFF;
}

.caption span.border {
  background-color: #2e3031;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFF;
}

h1 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 35px;
  color: #FFF;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8,.bgimg-9, .bgimg-10, .bgimg-11,.bgimg-12  {
        background-attachment: scroll;
    }
}

a { text-decoration : none; color : #FFF; }
a:hover { color: rgba(166, 25, 60, 1);}  
/*http://www.99colors.net/hex/A6193C*/

.toggle {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  -webkit-transition: all 0.30s ease-out 0;
  -moz-transition: all 0.30s ease-out 0;
  transition: all 0.45s ease-out 0;
  position: fixed;
  top: 15px;
  right: 25px;
  z-index: 1;
  cursor: pointer;
}
.sidebar {
  font-size: 30px;
  position: fixed;
  text-align: center;
  top: 0px;
  bottom: 0px;
  right: -200px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  width: 200px;
  background: #2e3031; 
  z-index: 1;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}

.sidebar li a {
  color: white;
  position: relative;
  top: 100px;
  cursor: pointer;
  text-decoration: none;
  line-height: 200%;
}

.sidebar a:hover { color: #A6193C;}

#slide:checked + .container .sidebar {right: 0px;}

#slide:checked + .toggle {right: 0px;}

.container a.visited{
  display:none;

}
#slide:checked + .container .toggle {
  right: 15px;
  z-index: 2;
}
#slide {display: none; }



.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 31%; /* IE10 */
    flex: 31%;
    max-width: 31%;
    padding: 0 5px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 300px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 300px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

